<ion-view title="Desire Tab Default Page" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="desireTabDefaultPage-heading6" style="color:#000000;">Desire Statement</h1>
    <form id="desireTabDefaultPage-form4" class="list">
      <label class="item item-input" id="desireTabDefaultPage-textarea1">
        <span class="input-label">Statement:</span><textarea placeholder="" ng-model="data.statement"></textarea></label>
    </form>
    <button id="desireTabDefaultPage-button5" ng-click="enter()" class="button button-positive button-block">Save</button>
  </ion-content>
</ion-view>