<ion-view title="Slider Page" hide-nav-bar="true" nav-transition="none" id="page5">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="sliderPage-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="sliderPage-slide24" style="background-color:#4C8FFE;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/pFtsR2AaQqGwUVrY8jpx_adventure-asphalt-clouds-416974.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="sliderPage-heading2" style="color:#FFFFFF;font-weight:400;text-align:center;">Begin your journey</h3>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sliderPage-slide27" style="background-color:#34BA7F;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/iNbXjEgYSF25aoleEkaw_action-plan-brainstorming-complex-212286.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="sliderPage-heading3" style="color:#FFFFFF;font-weight:400;text-align:center;">To set your desires</h3>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sliderPage-slide28" style="background-color:#9151FB;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/fkoPC8StStaKomMBJbZv_boss-brainstorming-business-1093913.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="sliderPage-heading4" style="color:#FFFFFF;font-weight:400;text-align:center;">Increase your worth</h3>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sliderPage-slide29" style="background-color:#FFFFFF;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/1yMaQjPUTMSHgnfNXdRM_achievement-confident-free-6945.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="sliderPage-heading5" style="color:#000000;font-weight:400;text-align:center;">And believe in yourself</h3>
              <div class="spacer" style="width: 300px; height: 52px;"></div>
              <a ui-sref="tabsController.desireTabDefaultPage()" id="sliderPage-button1" class="button button-positive button-block">Login</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>